AWS_PROFILE=davenport
AWS_REGION=us-east-1
S3_BUCKET=hawaii-gallery-media-648372317920
COGNITO_USER_POOL_ID=us-east-1_6512CwH1Q
COGNITO_CLIENT_ID=46c32vc2dtjbe832vgp22dqba1
SESSION_SECRET=generate-a-random-64-char-hex-string-and-put-it-here
GUEST_PASSWORD=choose-a-simple-shared-password-for-guest-view-only-access
DYNAMODB_TABLE=hawaii-gallery-media
ACCESS_REQUESTS_TABLE=hawaii-gallery-access-requests
SES_FROM_EMAIL=hawaii-gallery@davenport.email
ACCESS_REQUEST_NOTIFY_EMAIL=guy@daveneti.com
GOOGLE_CLIENT_ID=from-google-cloud-console-oauth-client
GOOGLE_CLIENT_SECRET=from-google-cloud-console-oauth-client
